In [31]:
import subprocess as sb
import os

In [32]:
import geopandas as gpd

In [33]:
import sqlalchemy

In [34]:
from geopandas_postgis import PostGIS

In [ ]:
# 데이터 압축파일들을 압축해제하고

In [37]:
data_dir = './'
target_dir = 'ext'
if not os.path.exists(target_dir):
    os.mkdir(target_dir)

logs = []
for file_name in os.listdir(data_dir):
    file_path = os.path.join(data_dir, file_name)

    if file_name.split('.')[-1]=='zip':
        logs.append(sb.run(['unzip', file_path, '-d', target_dir], stdout=sb.PIPE, stderr=sb.PIPE))

In [38]:
lu_shps = [filename for filename in os.listdir(target_dir) if filename.split('.')[-1]=='shp']

In [ ]:
# 중간에 주거지역 데이터의 shx 파일이 뭔가 오류가 있다고 해서 구글 검색해보니 나온 명령어를 shp파일에 대해 전부 실행시켜줬습니다.

In [39]:
os.chdir(target_dir)
for shp_name in lu_shps:
    print(sb.call(' '.join(['SHAPE_RESTORE_SHX=YES', 'fio', 'info', '"%s"'%shp_name]), shell=True))
os.chdir('..')

0
0
0
0

In [ ]:
# 그 다음에 shp파일을 geopandas 라이브러리로 읽어서 to_crs 함수를 사용해서 4326좌표계로 바꿔줍니다.

In [43]:
seoul_lu = {}
for shp_name in lu_shps:
    data = gpd.read_file(os.path.join(target_dir, shp_name), encoding = 'ms949')
    print(data.crs)
    seoul_lu[shp_name.split('.')[0]] = data.to_crs(epsg=4326)

{'proj': 'tmerc', 'lat_0': 38, 'lon_0': 127, 'k': 1, 'x_0': 200000, 'y_0': 500000, 'ellps': 'GRS80', 'units': 'm', 'no_defs': True}

/opt/conda/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))
/opt/conda/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

{'proj': 'tmerc', 'lat_0': 38, 'lon_0': 127, 'k': 1, 'x_0': 200000, 'y_0': 500000, 'ellps': 'GRS80', 'units': 'm', 'no_defs': True}
{'proj': 'tmerc', 'lat_0': 38, 'lon_0': 127, 'k': 1, 'x_0': 200000, 'y_0': 500000, 'ellps': 'GRS80', 'units': 'm', 'no_defs': True}

/opt/conda/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

{'proj': 'tmerc', 'lat_0': 38, 'lon_0': 127, 'k': 1, 'x_0': 200000, 'y_0': 500000, 'ellps': 'GRS80', 'units': 'm', 'no_defs': True}

/opt/conda/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [ ]:
# db 커넥션 변수를 설정하고

In [44]:
con = sqlalchemy.create_engine('postgresql://postgres:3096@172.17.0.3:5432/postgres')

In [ ]:
# 테이블에 업데이트 시켜줬습니다.

In [45]:
for df in seoul_lu.values():
    df.postgis.to_postgis(con, 'seoul_lu', 'geometry', index=False, if_exists='append')

In [ ]:
# 원래 데이터 좌표계 확인해본 내용입니다.

In [20]:
conv = data.to_crs(epsg=5186)

/opt/conda/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [21]:
conv.crs

{'init': 'epsg:5186', 'no_defs': True}

In [23]:
conv

,ID,CODE,ENT_NAME,JOSER_ID,GOSI_ID,LABEL,GOSI_DATE,ESRI_PK,SHAPE_AREA,SHAPE_LEN,geometry
0,근린상업지역_5479,UQA230,용도지역,32439,1777,근린상업지역,None,0,4069.077256,298.161840,"POLYGON ((196106.742 550841.797, 196106.396 55..."
1,일반상업지역_UQA22020171017840,UQA220,일반상업지역,UQA22020171017840,58039426,일반상업지역,20170413,0,1514.782683,358.925255,"MULTIPOLYGON (((195515.256 545915.881, 195547...."
2,일반상업지역_7919,UQA220,일반상업지역,None,None,일반상업지역,None,0,1482.669360,280.484068,"POLYGON ((197704.998 552938.314, 197701.516 55..."
3,일반상업지역_UQA22020190613812,UQA220,일반상업지역,UQA22020190613812,58046373,일반상업지역,20190228,0,1630.257160,186.623574,"POLYGON ((198836.161 552623.918, 198840.025 55..."
4,일반상업지역_UQA22020091127015,UQA220,일반상업지역,UQA22020091127015,58007560,일반상업지역,20070111,0,35575.630323,1170.309804,"MULTIPOLYGON (((206664.815 557685.319, 206694...."
...,...,...,...,...,...,...,...,...,...,...,...
410,일반상업지역_UQA22020091117005,UQA220,일반상업지역,UQA22020091117005,58011724,일반상업지역,20080529,0,22376.782314,1154.145731,"MULTIPOLYGON (((190246.120 542048.270, 190241...."
411,일반상업지역_UQA22020170710621,UQA220,일반상업지역,UQA22020170710621,58038652,일반상업지역,20140103,0,21140.493939,816.496913,"MULTIPOLYGON (((209082.716 556938.698, 209083...."
412,일반상업지역_7897,UQA220,일반상업지역,None,None,일반상업지역,None,0,6522.981984,947.279078,"POLYGON ((197563.391 550595.053, 197563.437 55..."
413,일반상업지역_UQA22020120320675,UQA220,일반상업지역,UQA22020120320675,58028673,일반상업지역,20120315,0,5880.700881,297.906241,"POLYGON ((197628.997 550115.250, 197628.889 55..."
414,일반상업지역_UQA22020170406437,UQA220,일반상업지역,UQA22020170406437,58038335,일반상업지역,20170406,0,3283.247326,231.266063,"POLYGON ((192675.300 550168.093, 192621.714 55..."

In [ ]:
# to_crs 함수로 epsg 5186 으로 변환했을 때의 좌표와 원래 좌표가 동일한 것으로 봤을 때, 원본 데이터는 epsg 5186인 것 같습니다.

In [24]:
data

,ID,CODE,ENT_NAME,JOSER_ID,GOSI_ID,LABEL,GOSI_DATE,ESRI_PK,SHAPE_AREA,SHAPE_LEN,geometry
0,근린상업지역_5479,UQA230,용도지역,32439,1777,근린상업지역,None,0,4069.077256,298.161840,"POLYGON ((196106.742 550841.797, 196106.396 55..."
1,일반상업지역_UQA22020171017840,UQA220,일반상업지역,UQA22020171017840,58039426,일반상업지역,20170413,0,1514.782683,358.925255,"MULTIPOLYGON (((195515.256 545915.881, 195547...."
2,일반상업지역_7919,UQA220,일반상업지역,None,None,일반상업지역,None,0,1482.669360,280.484068,"POLYGON ((197704.998 552938.314, 197701.516 55..."
3,일반상업지역_UQA22020190613812,UQA220,일반상업지역,UQA22020190613812,58046373,일반상업지역,20190228,0,1630.257160,186.623574,"POLYGON ((198836.161 552623.918, 198840.025 55..."
4,일반상업지역_UQA22020091127015,UQA220,일반상업지역,UQA22020091127015,58007560,일반상업지역,20070111,0,35575.630323,1170.309804,"MULTIPOLYGON (((206664.815 557685.319, 206694...."
...,...,...,...,...,...,...,...,...,...,...,...
410,일반상업지역_UQA22020091117005,UQA220,일반상업지역,UQA22020091117005,58011724,일반상업지역,20080529,0,22376.782314,1154.145731,"MULTIPOLYGON (((190246.120 542048.270, 190241...."
411,일반상업지역_UQA22020170710621,UQA220,일반상업지역,UQA22020170710621,58038652,일반상업지역,20140103,0,21140.493939,816.496913,"MULTIPOLYGON (((209082.716 556938.698, 209083...."
412,일반상업지역_7897,UQA220,일반상업지역,None,None,일반상업지역,None,0,6522.981984,947.279078,"POLYGON ((197563.391 550595.053, 197563.437 55..."
413,일반상업지역_UQA22020120320675,UQA220,일반상업지역,UQA22020120320675,58028673,일반상업지역,20120315,0,5880.700881,297.906241,"POLYGON ((197628.997 550115.250, 197628.889 55..."
414,일반상업지역_UQA22020170406437,UQA220,일반상업지역,UQA22020170406437,58038335,일반상업지역,20170406,0,3283.247326,231.266063,"POLYGON ((192675.300 550168.093, 192621.714 55..."